body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    background-color: #4E9AB2;
}

h2 {
    text-align: center;
}

img {
    width: 350px;
    height: 250px;
}

main p {
background-color: #FFBD73;
border: 15px double pink;
}

li {
    background-color: #FFBD73;
    border:3px dashed gold;
}

ul {
    background-color: pink;
    border: 10px double gold;
}

footer {
    border: 15px dashed orange;
    background-color: aquamarine;
}

h2 {
background-color: orange;
border: 7px double green;
}
